.__slider-infinite {
   margin-bottom: 20px;

   h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
   }

   .__slider-container {
      width: 90vw;
      margin: 1.5rem auto 0;
      padding: 0.2rem 0;
      position: relative;

      .__slider-contents {
         width: 1200px;
         margin: 0 auto;
         overflow: hidden;

         .__items {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            flex-shrink: 0;

            margin-left: -100%;

            .__item {
               width: 100%;
               height: 388px;
               display: flex;
               justify-content: center;
               gap: 20px;
               flex-shrink: 0;
               margin: 0 auto;

               .__card {
                  width: 385px;
                  height: 100%;
                  position: relative;
                  background: #e8f1fe;
                  border: 1px solid #135fc2;
                  border-radius: 5px;

                  background: rgba($color: red, $alpha: 0.3);

                  .__image {
                     width: 100%;
                     height: 80%;
                     flex-shrink: 0;

                     img {
                        width: 100%;
                        height: 100%;
                        border-radius: 5px 5px 0 0;
                     }
                  }

                  .__description {
                     background: #e8f1fe;
                     height: 20%;
                     display: flex;
                     border-radius: 0 0 5px 5px;

                     .__legend {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 1.5rem;
                        font-weight: bolder;
                        margin: auto;
                     }
                  }

                  .__level {
                     width: fit-content;
                     font-size: 1.1rem;
                     font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
                        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                     background: #135fc2;
                     color: #fff;
                     border: 1px solid #135fc2;
                     border-radius: 5px;
                     padding: 5px 10px;
                     position: absolute;
                     right: 0.2rem;
                     top: 0.2rem;
                  }
               }
            }
         }
      }

      .__prev-next {
         .__previous,
         .__next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid #135fc2;
            background: #fff;
            width: 4.0625rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.8s ease;

            &:hover {
               background-color: #e8f1fe;
            }

            img {
               border-radius: 50%;
            }

            &.__desabled {
               pointer-events: none;
               transition: all 2s ease;

               img {
                  transform: scale(0.8);
               }
            }
         }

         .__previous {
            transform: translateY(-50%) rotate(180deg);
            top: 50%;
            left: 40px;
         }

         .__next {
            transform: translateY(-50%);
            top: 50%;
            right: 40px;
         }
      }
   }
}
