.__slider-scroll {
   padding: 3rem 0;

   h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 2rem;
   }

   .__slider-container {
      width: 95%;
      height: 460px;
      margin: 1.5rem auto 0;
      position: relative;
      overflow: initial;
      border: 2px solid #e8f1fe;
      padding-top: 0.2rem;

      .__slider-items {
         display: flex;
         flex-flow: row nowrap;
         gap: 20px;
         scroll-snap-type: x mandatory;
         scroll-behavior: smooth;
         overflow-x: hidden;

         .__card {
            width: 20rem;
            background: #e8f1fe;
            border: 1px solid #135fc2;
            border-radius: 5px;
            flex-shrink: 0;
            scroll-snap-align: center;

            .__image {
               width: 100%;
               border-radius: 5px;

               img {
                  border-radius: 5px 5px 0 0;
                  width: 100%;
               }
            }

            .__description {
               background: transparent;
               padding: 10px 0;
               text-align: center;

               span {
                  font-family: Arial, Helvetica, sans-serif;
                  font-size: 1.5rem;
                  font-weight: bolder;
               }
            }
         }
      }

      .__prev-next {
         display: flex;
         gap: 1.25rem;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
         bottom: 0.5rem;

         .__previous,
         .__next {
            border: 1px solid #135fc2;
            background: transparent;
            width: 4.0625rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.8s ease;

            &:hover {
               background-color: #e8f1fe;
            }

            img {
               border-radius: 50%;
            }

            &.__desabled {
               pointer-events: none;
            }
         }

         .__previous {
            transform: rotate(180deg);
         }
      }
   }
}
