* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   position: relative;
}

img {
   max-width: 100%;
}

h1,
h2 {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-transform: uppercase;
   text-align: center;
   font-size: 2rem;
}

button {
   &:focus-visible {
      border: 2px solid;
      border-color: red;
   }
}
